.fs-13{font-size:13px}
.mb-10{margin-bottom:10px}
.matchedWordsContainer{background-color:lightgreen;color:green}
.matched-words-container{padding:5px}
.display-none{display:none}
.followsYouElement{position:absolute;z-index:999;left:-66px;top:0}
.followingElement{position:absolute;z-index:999;left:-66px;top:20px}
